<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <!--Old Logo Code
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
      -->
    </div>
    <!--Added Video functionality begins here-->
    <div class="container">
        <video autoplay muted loop style="width: 100%; height: auto;">
          <source src="modules/core/client/img/color.webm" type="video/webm">
          <source src="modules/core/client/img/color.mp4" type="video/mpeg">
        </video> 
        <div class="overlay">
            <img alt="MEAN.JS" style="width: 90%; height: auto;" src="modules/core/client/img/brand/logo.png">
        </div>
    </div>
    <!--Video functionality ends here-->
    <br>
    <div class="row">
      <p class="lead">
        PhDiverse: A Professional Community
      </p>
    </div>

<!--Sign in button beneath video when signed out-->
  <div>
      <ul ng-hide="authentication.user">
        <div class="row" >
        <p>
          <a class="btn btn-primary btn-lg" ui-sref="authentication.signin">Sign In</a>
        </p>
        </div>
      </ul>
<!--Edit profile button beneath video when singed in-->
      <ul ng-show="authentication.user">
            <p>
              <a class="btn btn-primary btn-lg" ui-sref="settings.profile">Edit Profile</a>
            </p>
      </ul>
  </div>


  </div>
  <!--<div>
    <h2>PhDiverse Header</h2>
    <p>PhDiverse subtitle</p>
    <p>Add more info here</p>
    <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        Add some information here
      </li>
      <li>
        More information
      </li>
      <li>
        More information
      </li>
      <li>
        More information
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>I</strong>nformation</h2>
      <p><a target="_blank" href="http://mongodb.org/">Click Here</a> for more <a target="_blank" href="http://docs.mongodb.org/manual/">information</a> about PhDiverse</p>
    </div>
    <div class="col-md-3">
      <h2><strong>M</strong>ore Information</h2>
      <p><a target="_blank" href="http://expressjs.com/"> Follow this link</a> fore even more information on <a target="_blank" href="http://expressjs.com/4x/api.html">this topic</a> or even <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">more</a> about this.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>O</strong>ther Cool Stuff</h2>
      <p><a target="_blank" href="http://angularjs.org/">This link</a> probably wont take you anywhere, but <a target="_blank" href="http://www.thinkster.io/">this link</a> difnately won't, so <a target="_blank" href="https://egghead.io/">don't click here</a> please.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>F</strong>iller</h2>
      <p><a target="_blank" href="http://nodejs.org/">Click here</a> for more information. <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">Click here</a> for less information.</p>
    </div>
  </div>
  <div class="well">
    <h2>Live Feed</h2>
    <p>
      See what other PhDiverse users are doing:
      <ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">Article</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li> 
        <li><a target="_blank" href="http://meanjs.org/modules.html">Article</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Article</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Article</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Article</a>
        </li>
      </ul>
    </p>
  </div>-->
  <br>©PhDiverse<br>
</section>
