<section class="row" ng-controller="EditProfileController" ng-init="init(user)">
	  <div class="row">
		  <fieldset>
			<section class="row" ng-controller="ChangeProfilePictureController" ng-init="init(user)">
				<div>
					<img ng-src="{{user.profileImageURL}}" alt="{{user.displayName}}" class="img-responsive post-content">
					<div class ="user-profile-info">
						<div>
							<div><br></div>
							<div>
								<div>
									<a class="btn btn-primary" ui-sref="admin.user-edit({userId: user._id})" ng-hide="authentication.user.roles[0] !== 'admin'">
										<i class="glyphicon glyphicon-edit"></i>
									</a>
									<a class="btn btn-primary" ng-click="remove();" ng-if="user._id !== authentication.user._id" ng-hide="authentication.user.roles[0] !== 'admin'">
										<i class="glyphicon glyphicon-trash"></i>
									</a>
									<a class="btn btn-primary" ng-click="add();" ng-show="user._id !== authentication.user._id && !(user.requests.indexOf(authentication.user._id) > -1) && !(user.connections.indexOf(authentication.user._id) > -1)">
										<i class="glyphicon glyphicon-plus"></i> Add Colleague
									</a>
								</div>
							</div>
						</div>
						<div class="form-group" style="padding-bottom:10px;">
						  <br>
						  <h4>Professional Profile</h4>
						</div>
						<div class="form-group" style="padding-bottom:10px;" ng-hide="!user.bio">
						  {{user.bio}}
						</div>
						<div class="table-responsive">
						  <table class="table">
							<tbody>
							  <tr>
								<td>
									<div class="form-group" ng-hide="!user.displayName">
										<b>Name: </b>   {{user.displayName}}
									</div>
									<div class="form-group" ng-hide="!user.email">
										<b>Email: </b>   {{user.email}}
									</div>
									<div class="form-group" ng-hide="!user.institution">
										<b>Institution: </b>   {{user.institution}}
									</div>
									<div class="form-group" ng-hide="!user.degree">
										<b>Degree: </b>   {{user.degree}}
									</div>
								</td>
								<td ng-hide="user.curriculumVitaeURL=='modules/users/client/img/profile/default.png'">
									<div class="form-group" ng-controller="ChangeCurriculumVitaeController"  ng-init="init(user);" ng-hide="user.curriculumVitaeURL=='modules/users/client/img/profile/default.png'">
										  <p><b>Curriculum Vitae</b></p>
										  <li><a ng-href="{{user.curriculumVitaeURL}}" ng-hide="user.curriculumVitaeURL=='modules/users/client/img/profile/default.png'" target="_self" download="CV.pdf">Download</a></li>
									</div>
								</td>
								<td ng-hide="!user.publications.length">
									<div class="form-group" ng-hide="!user.publications.length">
										<p><b>Publications</b></p>
										<li  ng-repeat="publication in user.publications">
											<a ng-href="{{publication.link}}" target="_blank">{{publication.link}}</a>
										</li>
									</div>
								</td>
								<td ng-hide="!user.videos.length">
									<div class="form-group" ng-hide="!user.videos.length">
										<p><b>Videos</b></p>
										<li  ng-repeat="video in user.videos">
											<a ng-href="{{video.link}}" target="_blank">{{video.link}}</a>
										</li>
									</div>
								</td>
							  </tr>
							</tbody>
						  </table>
						</div>
					</div>
				</div>
			</section>
		  </fieldset>
	  </div>
	  <form name="userForm" class="signin form-inline" novalidate autocomplete="off" onkeypress="return event.keyCode != 13;">
		  <fieldset>				
			<div class="form-group">
				<br>
				<input name="newPostSub" ng-model="newPost.thought" type="text" class="form-control" placeholder="Share your thoughts" style="width:800px;max-width: 85%;" required></input>
				<button class="btn btn-default" ng-disabled="userForm.newPostSub.$error.required" ng-click="addToOtherPosts(newPost, userForm)">Post</button>
			</div>
			<br><br>
			<div ng-show="success" class="text-center text-success">
			  <strong>Post Published Successfully</strong>
			</div>
			<div ng-show="error" class="text-center text-danger">
			  <strong ng-bind="error"></strong>
			</div>
		  </fieldset>
	  </form>
	  <div class="list-group" ng-controller="UserFeedController">
    <div ng-hide="!user.events.length"><h1>Timeline</h1></div>
		<a ng-show="event.itemChanged != null" class="list-group-item" ng-repeat="event in user.events.slice().reverse()" type="event.type" close="user.events.splice(index, 1)">
			<div ng-show="event.itemChanged !== 'posts'">
				<h4 class="list-group-item-heading" ng-bind="user.displayName"></h4>
				<h6 class="list-group-item-heading">{{event.dateCreated | date:'MM/dd/yyyy @ h:mma'}}</h6>
				<p>{{event.itemChanged  | capitalize}} updated to:</p>
				<p class="list-group-item" style="overflow:auto;margin-left=30px;">{{event.newValue}}</p>
			</div>
			<div ng-show="event.itemChanged === 'posts'" style="overflow:auto;">
				<h4 class="list-group-item-heading" ng-bind="getUser(event._creator)[0].displayName"></h4>
				<h6 class="list-group-item-heading">{{event.dateCreated | date:'MM/dd/yyyy @ h:mma'}}</h6>
				<p class="list-group-item-text">{{event.newValue}}</p>
			</div>
		</a>
	</div>
</section>
