<section class="row" ng-controller="EditProfileController" ng-init="init(user)">
	  <div class="row">
		  <fieldset>
			<section class="row" ng-controller="ChangeProfilePictureController" ng-init="init(user)">
				<div>
					<img ng-src="{{user.profileImageURL}}" alt="{{user.displayName}}" class="img-responsive post-content">
					<div class ="user-profile-info">
						<div>
							<div><br></div>
							<div>
								<div>
									<a class="btn btn-primary" ui-sref="admin.user-edit({userId: user._id})" ng-hide="authentication.user.roles[0] !== 'admin'">
										<i class="glyphicon glyphicon-edit"></i>
									</a>
									<a class="btn btn-primary" ng-click="remove();" ng-if="user._id !== authentication.user._id" ng-hide="authentication.user.roles[0] !== 'admin'">
										<i class="glyphicon glyphicon-trash"></i>
									</a>
									<a class="btn btn-primary" ng-click="add();" ng-show="user._id !== authentication.user._id && !(user.requests.indexOf(authentication.user._id) > -1) && !(user.connections.indexOf(authentication.user._id) > -1)">
										<i class="glyphicon glyphicon-plus"></i> Add Colleague
									</a>
								</div>
							</div>
						</div>
						<div class="page-header">
						  <h1>About</h1>
						</div>
						<div class="form-group" style="padding-bottom:10px;">
						  <br>
						  <h4>Professional Profile</h4>
						</div>
						<div class="form-group" style="padding-bottom:10px;" ng-hide="!user.bio">
						  {{user.bio}}
						</div>
						<div class="form-group" style="padding-bottom:10px; border-bottom: 1px solid #ccc;" ng-hide="!user.displayName">
						  Name:    {{user.displayName}}
						</div>
						<div class="form-group" style="padding-bottom:10px; border-bottom: 1px solid #ccc;" ng-hide="!user.email">
						  Email:    {{user.email}}
						</div>
						<div class="form-group" style="padding-bottom:10px; border-bottom: 1px solid #ccc;" ng-hide="!user.institution">
						  Institution:    {{user.institution}}
						</div>
						<div class="form-group" style="padding-bottom:10px; border-bottom: 1px solid #ccc;" ng-hide="!user.degree">
						  Degree:    {{user.degree}}
						</div>
						<div class="form-group" style="padding-bottom:10px; border-bottom: 1px solid #ccc;" ng-controller="ChangeCurriculumVitaeController"  ng-init="init(user);" ng-hide="user.curriculumVitaeURL=='modules/users/client/img/profile/default.png'">
							  Curriculum Vitae: 
							  <a ng-href="{{user.curriculumVitaeURL}}" ng-hide="user.curriculumVitaeURL=='modules/users/client/img/profile/default.png'" target="_self" download="CV.pdf">Download</a>
						</div>
						<div class="form-group" style="padding-bottom:10px; border-bottom: 1px solid #ccc;" ng-hide="!user.publications.length">
							<p>Publications</p>
							<li class="form-group" ng-repeat="publication in user.publications">
								<a ng-href="{{publication.link}}" target="_blank">{{publication.link}}</a>
							</li>
						</div>
						<div class="form-group" style="padding-bottom:10px; border-bottom: 1px solid #ccc;" ng-hide="!user.videos.length">
							<p>Videos</p>
							<li class="form-group" ng-repeat="video in user.videos">
								<a ng-href="{{video.link}}" target="_blank">{{video.link}}</a>
							</li>
						</div>
					</div>
				</div>
			</section>
		  </fieldset>
	  </div>
	  <form name="userForm" class="signin form-inline" novalidate autocomplete="off" onkeypress="return event.keyCode != 13;">
		  <fieldset>				
			<div class="form-group">
				<br>
				<input name="newPostSub" ng-model="newPost.thought" type="text" class="form-control" placeholder="Share your thoughts" style="width:800px;max-width: 85%;" required></input>
				<button class="btn btn-default" ng-disabled="userForm.newPostSub.$error.required" ng-click="addToOtherPosts(newPost, userForm)">Post</button>
			</div>
			<br><br>
			<div ng-show="success" class="text-center text-success">
			  <strong>Post Published Successfully</strong>
			</div>
			<div ng-show="error" class="text-center text-danger">
			  <strong ng-bind="error"></strong>
			</div>
		  </fieldset>
	  </form>
	  <div class="list-group">
    <div ng-hide="!user.events.length"><h1>Timeline</h1></div>
		<a ng-show="event.itemChanged != null" class="list-group-item" ng-repeat="event in user.events.slice().reverse()" type="event.type" close="user.events.splice(index, 1)">
			<div><h3>{{user.displayName}}'s {{event.itemChanged}} was updated to {{event.newValue}} on {{event.dateCreated | date}}</h3></div>
		</a>
	</div>
</section>
