<section class="row" ng-controller="EditProfileController" ng-init="init();">
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-md-offset-2 col-md-4">
				<form name="userForm" class="signin form-inline" novalidate autocomplete="off" onkeypress="return event.keyCode != 13;">
				  <fieldset>
					<div class="form-group" show-errors>
					  <label for="firstName">First Name</label><br>
					  <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required>
					  <div ng-messages="userForm.firstName.$error" role="alert">
						<p class="help-block error-text" ng-message="required">First name is required.</p>
					  </div>
					</div>
					<br><br>
					<div class="form-group" show-errors>
					  <label for="lastName">Last Name</label><br>
					  <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required>
					  <div ng-messages="userForm.lastName.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Last name is required.</p>
					  </div>
					</div>
					<br><br>
					<div class="form-group" show-errors>
					  <label for="email">Email</label><br>
					  <input type="email" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" lowercase required>
					  <div ng-messages="userForm.email.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Email address is required.</p>
						<p class="help-block error-text" ng-message="email">Email address is invalid.</p>
					  </div>
					</div>
					<br><br>
					<div class="form-group" show-errors>
					  <label for="username">Username</label><br>
					  <input type="text" id="username" name="username" class="form-control" ng-model="user.username" placeholder="Username" lowercase required>
					  <div ng-messages="userForm.username.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Username is required.</p>
					  </div>
					</div>
					<br><br>
					<div class="form-group" show-errors>
						<label for="bio">Biography</label><br>
						<textarea rows="4" class="form-control" name="bio" ng-model="user.bio" id="bio" placeholder="Tell us about yourself"></textarea>
					</div> 
					<br><br>
					<div class="form-group" show-errors>
						<label for="region">Region</label><br>
						<select name="region" id="region" ng-model="user.region">
						  <option value="">---Please select---</option>
						  <option value="northeast">Northeast</option>
						  <option value="midatlantic">Mid-Atlantic</option>
						  <option value="southeast">Southeast</option>
						  <option value="midwest">Midwest</option>
						  <option value="west">West</option>
						  <option value="southwest">Southwest</option>
						</select>
					</div>
					<br><br>
					<div class="form-group" show-errors>
					  <label for="institution">Institution</label><br>
					  <input name="institution" type="text" ng-model="user.institution" id="institution" class="form-control" placeholder="Institution">
					</div>
					<br><br>					
					<div class="form-group" show-errors>
					  <label for="degree">Degree</label><br>
					  <input name="degree" type="text" ng-model="user.degree" id="degree" class="form-control" placeholder="Degree">
					</div>
					<br><br>
					<div class="form-group">
					    <label for="publications">Publications</label><br>
						<div class="form-group" ng-repeat="publication in user.publications track by $index">
							<p><input type="url" id="publication" name="publication" class="form-control" ng-model="publication.link" required> <button class="close" ng-click="removePublication($index)"><span class="glyphicon glyphicon-trash"></span></button></p>
						</div>
						<div role="alert">
							<span class="error" ng-show="userForm.publication.$error.required">URL cannot be left blank</span>
							<span class="error" ng-show="userForm.publication.$error.url">Please include http://</span>
						</div>
					</div>
					<br>
					<div class="form-group">
						<input name="newPubSubmission" ng-model="newPub.link" type="url" class="form-control" required></input>
						<button class="btn btn-default" ng-disabled="userForm.newPubSubmission.$error.url && userForm.newPubSubmission.$error.required" ng-click="addToPublications(newPub)">Add</button>
						<div role="alert">
							<span class="error" ng-show="userForm.newPubSubmission.$error.url">Please include http://</span>
						</div>
					</div>
					<br><br>
					<div class="form-group">
					    <label for="videos">Videos</label><br>
						<div class="form-group" ng-repeat="video in user.videos track by $index">
							<p><input type="url" id="video" name="video" class="form-control" ng-model="video.link"> <button class="close" ng-click="removeVideo($index)"><span class="glyphicon glyphicon-trash"></span></button></p>
						</div>
						<div role="alert">
							<span class="error" ng-show="userForm.video.$error.required">URL cannot be left blank</span>
							<span class="error" ng-show="userForm.video.$error.url">Please include http://</span>
						</div>
					</div>
					<br>
					<div class="form-group">
						<input name="newVidSubmission" ng-model="newVideo.link" type="url" class="form-control" required></input>
						<button class="btn btn-default" ng-disabled="userForm.newVidSubmission.$error.url && userForm.newVidSubmission.$error.required" ng-click="addToVideos(newVideo)">Add</button>
						<div role="alert">
							<span class="error" ng-show="userForm.newVidSubmission.$error.url">Please include http://</span>
						</div>
					</div>
					<br><br>
					<div class="text-center form-group">
					  <button id="saveProfileButton" ng-click="updateUserProfile(userForm)" class="btn btn-primary">Save Profile</button>
					</div>
					<div ng-show="success" class="text-center text-success">
					  <strong>Profile Saved Successfully</strong>
					</div>
					<div ng-show="error" class="text-center text-danger">
					  <strong ng-bind="error"></strong>
					</div>
				  </fieldset>
				</form>
			</div>
		</div>
	</div>
</section>
