.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/*This overlays text on the video*/

.container { position:relative; }
.container video {
    position:relative;
    text-align: center;
    z-index:0;
}
.overlay {
    position:absolute;
    top: 35%;
    width: 100%;
    opacity: 0.8;
    z-index:1;
}

.nav {
	color: #2affcc;
	background-color: #067fff; 
	border-color: #012040;
}
.nav:active, .nav:hover, .nav:focus {
	color: #2affcc;
	background-color: #012040; 
	border-color: #012040;
}
.navbar-brand {
	color: #2affcc;
}
.navbar-brand:active, .navbar-brand:hover, .navbar-brand:focus {
	color: #2affcc;
	background-color: #067fff; 
	border-color: #012040;
}
.navbar-nav {
	color: #2affcc;
	background-color: #067fff; 
	border-color: #012040;
}
.navbar-nav:active, .navbar-nav:hover, .navbar-nav:focus {
	color: #012040;
	background-color: #012040; 
	border-color: #012040;
}
.dropdown-toggle {
	color: #2affcc;
	background-color: #067fff; 
	border-color: #012040;
}
.dropdown-toggle:active, .dropdown-toggle:hover, .dropdown-toggle:visited {
	color: #012040;
	background-color: #012040; 
	border-color: #012040;
}
.open .dropdown-toggle,
a:active .dropdown-toggle {
  	color: #012040;
	background-color: #012040; 
	border-color: #012040;
}